[submodule "ActiveLearningStudio-react-client"]
	path = ActiveLearningStudio-react-client
	url = https://github.com/ActiveLearningStudio/ActiveLearningStudio-react-client.git
[submodule "ActiveLearningStudio-laravel-api"]
	path = ActiveLearningStudio-laravel-api
	url = https://github.com/ActiveLearningStudio/ActiveLearningStudio-laravel-api.git
[submodule "test-laravel"]
	path = test-laravel
	url = https://github.com/ActiveLearningStudio/ActiveLearningStudio-lti-provider.git
