[submodule "ActiveLearningStudio-react-client"]
	path = ActiveLearningStudio-react-client
	url = https://github.com/ActiveLearningStudio/ActiveLearningStudio-react-client.git
[submodule "ActiveLearningStudio-laravel-api"]
	path = ActiveLearningStudio-laravel-api
	url = https://github.com/ActiveLearningStudio/ActiveLearningStudio-laravel-api.git
[submodule "ActiveLearningStudio-lti-provider"]
	path = ActiveLearningStudio-lti-provider
	url = https://github.com/ActiveLearningStudio/ActiveLearningStudio-lti-provider.git
[submodule "ActiveLearningStudio-h5p"]
	path = ActiveLearningStudio-h5p
	url = https://github.com/ActiveLearningStudio/ActiveLearningStudio-h5p
[submodule "ActiveLearningStudio-API"]
	path = ActiveLearningStudio-API
	url = https://github.com/ActiveLearningStudio/ActiveLearningStudio-API.git
